{% extends "blogs/base.html" %}

{% block header %}
  <div class='jumbotron'>
    <h2>To add a post you need to register.</h2>
  </div>
{% endblock header %}

{% block content %}
<h3>
  <a href="{% url 'blogs:new_post' %}">Add a Post:</a>
</h3>

<ul>
  {% for blog in blogs %}
    <li>
      <h3>
        {{ blog.title }}
          <small>
            {{ blog.date_added|date:'M d, Y H:i' }}
          </small>
      </h3>
    
        {{ blog.text|linebreaks }}
          <small>
            <a href="{% url 'blogs:edit_post' blog.id %}">edit post</a>
          </small>
    </li>
  {% empty %}
    <li>No posts have been added yet.</li>
  {% endfor %}
</ul>

{% endblock content %}
